.navbar {
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255),
    rgba(211, 211, 211),
    rgba(189, 189, 189),
    rgba(158, 158, 158),
    rgba(125, 125, 125),
    rgba(105, 105, 105)
  );
}

.hero {
  padding: 600px 300px;
}

.hero-title {
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0),
    rgba(105, 105, 105),
    rgba(125, 125, 125),
    rgba(158, 158, 158),
    rgba(189, 189, 189),
    rgba(211, 211, 211)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 77px;
  font-weight: auto;
}

.hero-subtitle {
  color: gray;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-y: scroll; /* Show scrollbar */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}

h1 {
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0),
    rgba(105, 105, 105),
    rgba(125, 125, 125),
    rgba(158, 158, 158),
    rgba(189, 189, 189),
    rgba(211, 211, 211)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  color: black;
  background-color: transparent;
  border: 0.9px;
  border-style: solid;
  border-radius: 3px;
}

.btn:hover {
  color: white;
  background: -webkit-linear-gradient(
    70deg,
    rgba(0, 0, 0),
    rgba(105, 105, 105),
    rgba(125, 125, 125),
    rgba(158, 158, 158),
    rgba(189, 189, 189),
    rgba(211, 211, 211)
  );
  transition: all 0.2s;
}

.skills-text {
  background-color: #00dbde;
  background-image: linear-gradient(70deg, #00dbde 0%, #fc00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.other-skills {
  background: linear-gradient(
    90deg,
    rgba(57, 255, 20, 1) 0%,
    rgba(255, 252, 81, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.fab {
  font-size: 30px;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  flex-direction: row;
}

.footer-icons:hover {
  color: white;
}

.footer-up {
  font-size: 25px;
  color: white;
}

footer {
  background: -webkit-linear-gradient(
    180deg,
    rgba(189, 189, 189),
    rgba(211, 211, 211)
  );
}

@media (max-width: 576px) {
  .hero {
    padding: 160px 20px;
  }
  .hero-title {
    font-size: 50px;
  }
}
